* {
    font-family: "poppins";
}
.background-profile {
    width: auto;
    border: 7px solid rgb(247, 247, 247);
    height: 230px;
    background-size: cover;
}
.card-text {
    margin-bottom: 10px;
}
.profile-title {
    margin-bottom: 0;
}
.img-profile {
    position: absolute;
    top: 150px;
}
.profile {
    border-radius: 10px;
}
