.background-profile {
    border-radius: 20px;
    width: auto;
    height: 200px;
    background: rgb(92, 249, 255);
    background-image: linear-gradient(
        90deg,
        rgba(92, 249, 255, 1) 0%,
        rgb(0, 145, 255) 100%
    );
}
.card-text {
    margin-bottom: 0px;
}
.profile-title {
    font-weight: bold;
    padding-top: 100px;
}
.img-profile {
    position: absolute;
    margin-top: -110px;
}
.profile {
    border-radius: 20px;
}
